@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/norme";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font_body;
  margin: 0;
  padding: 0;
}

a.lien {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

/* Loading */

.loader-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lighten($purple, 25%);
  animation: disappears 1s linear 2.5s forwards;
  pointer-events: none;

  .load {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $pink;
    font-size: 200%;
    animation: rotate 1s linear 300ms 2;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Header */

header {
  text-align: center;
  padding: 20px 0 10px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  img {
    width: 30%;
  }
}
.header-menu {
  a {
    display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: inherit;

    .arrow {
      position: absolute;
      left: 0;
      padding: 0 20px;
      align-self: center;
    }
  }
}

/* Présentation */

.presentation {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  .localisation {
    display: flex;
    justify-content: center;
    background-color: $background_localisation;
    padding: 10px 0;

    input[type="text"] {
      border: none;
      font-family: $font_body;
      font-weight: 700;
      background-color: $background_localisation;
      width: 130px;
      padding-left: 10px;
    }
  }
  p {
    font-weight: 300;
    padding-bottom: 20px;
  }
  h1 {
    padding: 0 30px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, $pink, $purple);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 50px;
    &:hover {
      background: linear-gradient(170deg, #ff99ff, #8855aa);
      box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

/* Fonctionnement */

.fonctionnement {
  margin-top: 40px;
  padding: 0 20px 30px 20px;
  ol {
    list-style: none;
    padding-left: 15px;
  }
  li {
    position: relative;
    display: flex;
    align-items: baseline;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
    &:hover {
      background-color: rgba(147, 86, 220, 0.15);
      .icon {
        color: $purple;
      }
      p {
        font-weight: 700;
      }
    }
    .number {
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      border-radius: 100%;
      background-color: $purple;
      padding: 2px 7px;
    }
    .icon {
      color: grey;
      padding: 0 20px;
    }

    .phone {
      font-size: 20px; // Taille initiale inférieures aux autres .icon
      margin-right: 5px;
    }
  }
}

/* Restaurants */

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 20px;
  h2 {
    padding: 40px 30px 20px 30px;
    margin: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 30px 30px 30px;
    gap: 20px;

    .card {
      background-color: white;
      border-radius: 20px;
      margin: auto;

      .card-img {
        position: relative;
        height: 170px;
        img {
          width: 100%;
          height: inherit;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        .new {
          position: absolute;
          right: 10px;
          top: 10px;
          color: darken($mint, 40);
          background-color: $mint;
          font-weight: 700;
          padding: 5px 15px;
          border-radius: 3px;
        }
      }
      figcaption {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
      }
      h3,
      p {
        margin: auto;
        padding: 0 15px;
      }
      h3 {
        padding-top: 10px;
      }
      p {
        padding-top: 5px;
      }
      .actions {
        align-self: center;
        padding-right: 25px;
      }
    }
    .like-button {
      font-size: 25px;
      &::before {
        @extend %fontawesomeheart; // Coeur avec bordure
      }
      &:active::before {
        @include fillingheart; // Coeur rempli
        @include animheart; // Effet de remplissage
      }
      @keyframes heart {
        0% {
          opacity: 10%;
        }

        100% {
          opacity: 100%;
        }
      }
    }
  }
}

/* Footer */

footer {
  width: 100%;
  padding: 30px;
  color: white;
  background-color: #3f3e3e;
  h3 {
    font-family: $font_logo;
    font-size: 140%;
    font-weight: 400;
    margin: 0;
  }
  ul {
    @include liststyle;
  }
  li {
    padding-bottom: 10px;
  }
  .icon {
    padding-right: 10px;
  }

  .hands {
    font-size: 11px; // Taille initiale inférieures aux autres .icon
  }
  a {
    text-decoration: none;
    color: white;
  }
}
/* ------------------------------------------------MENUS------------------------------------------------ */

/* Background-img*/

.background-img {
  img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
}
/* Menu */

.menu {
  position: relative;
  margin-top: -60px;
  display: flex;

  flex-direction: column;
  background-color: #f6f6f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  h1 {
    font-family: $font_logo, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    margin: 0;

    span {
      &::before {
        @extend %fontawesomeheart; // Coeur avec bordure
      }
      &:active::before {
        @include fillingheart; // Coeur rempli
        @include animheart; // Effet de remplissage
      }
    }
  }
  .menu__plats {
    h2 {
      span {
        position: relative;
        display: inline-block;
        font-size: medium;
        font-weight: 300;
        margin: 30px 10px 5px 10px;
        animation: titre 0.5s linear forwards;
        @keyframes titre {
          0% {
            left: -40px;
          }
          100% {
            left: 0;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 40px;
          height: 3px;
          background: $mint;
        }
      }
    }
  }
  ul {
    @include liststyle;

    li {
      position: relative;
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      margin: 10px;
      opacity: 0;
      animation: plat 0.33s linear 0.4s forwards;
      @keyframes plat {
        0% {
          top: 10px;
          opacity: 0;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          top: 0;
          opacity: 1;
        }
      }
      // Effet li arrivent un après l'autre
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.7s;
      }

      .plat {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        .metadata {
          flex-grow: 1;
          flex-shrink: 1;
          min-width: 0;
          margin: 10px;
          .titre {
            @include ellipsis;
            display: block;
            font-size: large;
            font-weight: 700;
          }
          .legende {
            display: flex;
            justify-content: space-between;
            font-size: 90%;
            padding: 5px 0;

            .description {
              @include ellipsis;
              font-style: inherit;
              margin: 0;
            }
            .prix {
              margin: 0 15px 0 5px;
              font-weight: 700;
            }
          }
        }

        .checked-indicator {
          flex-shrink: 0;
          position: relative;
          background: lighten($mint, 5%);
          width: 60px;
          margin-top: 0;
          margin-bottom: 0;
          margin-right: -60px;
          transition: margin 0.33s ease-in;

          &::before {
            @extend %fontawesomecheck;
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(270deg); // Effet de rotation
            transition: transform 0.33s ease-in;
          }
        }
      }

      .check {
        position: absolute;
        width: 0;
        height: 0;
        appearance: none;
      }
      .check:checked + .plat {
        .checked-indicator {
          margin-right: 0;

          &::before {
            transform: translate(-50%, -50%) rotate(0deg); // Effet de rotation
          }
        }
      }
    }
  }
  .commander {
    text-align: center;
    padding: 30px 0;
    button {
      cursor: pointer;
      padding: 10px 30px;
      color: white;
      border: none;
      border-radius: 50px;
      background: linear-gradient(170deg, $pink, $purple); // Dégradé
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
      &:hover {
        background: linear-gradient(
          170deg,
          #ff99ff,
          #8855aa
        ); // Dégradé éclaircit
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

@media screen and (min-width: 1000px) {
  /* ------------PAGE D'ACCUEIL---------------*/
  .loader-container {
    .load {
      font-size: 250%;
    }
  }

  .like-button {
    &:active::before {
      animation: none;
    }
    &:hover::before {
      @include fillingheart;
      @include animheart;
    }
  }

  header {
    img {
      max-width: 18%;
    }
  }

  .localisation {
    padding: 20px 0;
    input[type="text"] {
      font-size: medium;
      width: 130px;
    }
  }

  /* Fonctionnement */

  .fonctionnement {
    h2 {
      text-align: center;
      font-size: xx-large;
      margin-bottom: 50px;
    }
    ol {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
    li {
      width: 25%;
      margin: 0 20px;
      animation: growli 6s linear 10;

      @keyframes growli {
        0% {
          transform: scale(1.05);
          background-color: rgba(69, 25, 124, 0.4);
          font-weight: 700;
          animation-duration: 0.8s;
        }
        40% {
          background-color: white;
          transform: scale(1.01);
          font-weight: inherit;
        }
      }
      // Effet commence après loading spinner

      &:nth-child(1) {
        animation-delay: 3.2s;
        animation-duration: 2s;
      }
      &:nth-child(2) {
        animation-delay: 4s;
        animation-duration: 2s;
      }
      &:nth-child(3) {
        animation-delay: 4.5s;
        animation-duration: 2s;
      }
      &:hover {
        background-color: inherit;
        .icon {
          color: grey;
        }
        p {
          font-weight: inherit;
        }
      }
    }
  }

  /* Restaurants */

  .restaurants {
    h2 {
      text-align: center;
      padding-bottom: 40px;
      font-size: xx-large;
    }
    .cards {
      flex-direction: inherit;
      padding: 0 50px 50px 50px;
      gap: 50px;
      justify-content: center;
    }
    .cards__flex {
      flex: 1 1 40%;
      max-width: 40%;
    }
    .like-button {
      &:active::before {
        animation: none;
      }
      &:hover::before {
        @include fillingheart;
        @include animheart;
      }
    }
  }
  /* Footer */

  footer {
    h3 {
      text-align: center;
      font-size: 180%;
      margin-bottom: 30px;
    }
    ul {
      display: flex;
      justify-content: center;
      li {
        margin-right: 50px;
        .icon {
          font-size: medium;
        }
      }
    }
  }

  /*--------------------------- MENUS ----------------------------------*/

  /* Header */
  .header-menu {
    img {
      min-width: 45%;
    }
    .arrow {
      font-size: larger;
    }
  }
  /*------ */

  .background-img {
    img {
      max-height: 350px;
    }
  }
  .menu {
    h1 {
      justify-content: center;
      font-size: xx-large;

      span {
        margin-left: 50px;
      }
    }
    .menu__flex {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: center;
      .menu__plats {
        flex: 1 1 50%;
        &:nth-child(3) {
          max-width: 50%;
        }
      }
      h2 {
        text-align: center;
        span {
          animation: titledesktop 0.5s linear forwards;
          @keyframes titledesktop {
            0% {
              top: -30px;
              opacity: 0;
            }
            50% {
              opacity: 0.3;
            }
            100% {
              top: 0;
              opacity: 1;
            }
          }
          &::after {
            position: absolute;
            width: 150%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .commander {
      button {
        font-size: medium;
      }
    }
  }
}
