@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/norme";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font_body;
  margin: 0;
  padding: 0;
}

a.lien {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

/* Header */

header {
  text-align: center;
  padding: 20px 0 10px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;

  img {
    width: 50%;
  }
}

/* Découverte */

.decouverte {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  p {
    font-weight: 300;
    padding-bottom: 20px;
  }
  h1 {
    padding: 0 30px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, $pink, $purple);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 50px;
    &:hover {
      background: linear-gradient(170deg, #ff99ff, #8855aa);
      box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: $background_localisation;
  padding: 10px 0;

  input[type="text"] {
    border: none;
    font-family: $font_body;
    font-weight: bold;
    background-color: $background_localisation;
    width: 110px;
    padding-left: 10px;
  }
}

/* Fonctionnement */

.fonctionnement {
  margin-top: 40px;
  padding: 0 20px 20px 20px;
  ol {
    list-style: none;
    padding-left: 15px;
  }
  li {
    position: relative;
    display: flex;
    align-items: baseline;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
    &:hover {
      background-color: rgba(147, 86, 220, 0.15);
      .icon {
        color: $purple;
      }
      p {
        font-weight: bold;
      }
    }
    .number {
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      border-radius: 100%;
      background-color: $purple;
      padding: 2px 7px;
    }
    .icon {
      color: grey;
      padding: 0 20px;
    }
    .fa-mobile-alt {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

/* Restaurants */

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 30px 30px 30px;
  gap: 30px;
  h2 {
    padding: 40px 30px 20px 30px;
    margin: 0;
  }
  .lien {
    background-color: white;
    border-radius: 20px;
    height: auto;
  }
  figure {
    margin: auto;
    position: relative;
  }
  img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  figcaption {
    height: 75px;
    position: absolute;
  }
  h3,
  p {
    margin: auto;
    padding: 0 15px;
  }
  h3 {
    padding-top: 10px;
  }
  p {
    padding-top: 5px;
  }
  strong {
    position: absolute;
    top: 10px;
    left: 180px;
    color: darken($mint, 40);
    background-color: $mint;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
  }
  span {
    position: absolute;
    font-size: 25px;
    top: -30px;
    left: 260px;
  }
  .like-button {
    &::before {
      @extend %fontawesomeicon;
      content: "\f004";
    }
    &:active::before {
      font-weight: 900;
      background: -webkit-linear-gradient($pink, $purple);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // Si adaptation web sans -webkit-
      background-clip: text;
      text-fill-color: transparent;
      //
    }
  }
}
/* Footer */

footer {
  padding: 30px;
  color: white;
  background-color: #3f3e3e;
  h3 {
    font-family: $font_logo;
    font-size: 140%;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-bottom: 10px;
  }
  .icon {
    padding-right: 10px;
  }

  .fa-hands-helping {
    font-size: 11px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
