@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/norme";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font_body;
  margin: 0;
  padding: 0;
}

a.lien {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

/* Loading */

.loader-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: lighten($purple, 25);
  animation: disappears 1s linear 2.5s forwards;

  .load {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $pink;
    font-size: 200%;
    animation: rotate 1s linear 300ms 2;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappears {
  100% {
    opacity: 0;
  }
}

/* Header */

header {
  text-align: center;
  padding: 20px 0 10px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
img {
  width: 50%;
}
.header-menu {
  a {
    display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: inherit;

    .arrow {
      padding: 0 20px;
      align-self: center;
    }
  }
}
/* ------------------------------------------------MENUS------------------------------------------------ */
/* background-img*/

.background-img {
  img {
    width: 100%;
    object-fit: cover;
  }
}
/* .menu */

.menu {
  position: relative;
  margin-top: -60px;
  display: flex;

  flex-direction: column;
  background-color: #f6f6f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  h1 {
    font-family: $font_logo, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    margin: 0;

    span {
      &::after {
        @extend %fontawesomeicon;
        content: "\f004";
      }
      &:active::after {
        font-weight: 900;
        @extend %fillingheart;
        animation: heart 0.33s ease-in forwards;
      }
      @keyframes heart {
        0% {
          opacity: 10%;
        }

        100% {
          opacity: 100%;
        }
      }
    }
  }
  h2 {
    position: relative;
    font-size: medium;
    font-weight: lighter;
    margin: 30px 10px 10px 10px;
    animation: titre 0.5s linear forwards;
    @keyframes titre {
      0% {
        left: -40px;
      }
      100% {
        left: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background: $mint;
    }
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      margin: 10px;
      opacity: 0;
      animation: plat 1s ease-in 0.4s forwards;

      @keyframes plat {
        0% {
          top: 10px;
          opacity: 0;
        }
        100% {
          top: 0;
          opacity: 1;
        }
      }

      .plat {
        display: flex;
        flex-direction: row;

        .metadata {
          flex-grow: 1;
          flex-shrink: 1;
          min-width: 0;
          margin: 10px;
          h3 {
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .legende {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;

            .description {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;
            }
            .prix {
              margin: 0 15px 0 5px;
              font-weight: bold;
            }
          }
        }

        .checked-indicator {
          flex-shrink: 0;

          position: relative;
          background: lighten($mint, 5%);
          width: 60px;
          margin-right: -60px;
          transition: margin 0.33s ease-in;

          &::before {
            content: "\f058";
            @extend %fontawesomecheck;
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(270deg);
            transition: transform 0.33s ease-in;
          }
        }
      }

      .check {
        position: absolute;
        width: 0;
        height: 0;
        appearance: none;
      }
      .check:checked + .plat {
        .checked-indicator {
          margin-right: 0;

          &::before {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
  }
  .commander {
    text-align: center;
    padding: 30px 0;
    button {
      cursor: pointer;
      padding: 10px 30px;
      color: white;
      border: none;
      border-radius: 50px;
      background: linear-gradient(170deg, $pink, $purple);
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
      &:hover {
        background: linear-gradient(170deg, #ff99ff, #8855aa);
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------ */

/* Découverte */

.decouverte {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
  p {
    font-weight: 300;
    padding-bottom: 20px;
  }
  h1 {
    padding: 0 30px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(170deg, $pink, $purple);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 50px;
    &:hover {
      background: linear-gradient(170deg, #ff99ff, #8855aa);
      box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: $background_localisation;
  padding: 10px 0;

  input[type="text"] {
    border: none;
    font-family: $font_body;
    font-weight: bold;
    background-color: $background_localisation;
    width: 110px;
    padding-left: 10px;
  }
}

/* Fonctionnement */

.fonctionnement {
  margin-top: 40px;
  padding: 0 20px 30px 20px;
  ol {
    list-style: none;
    padding-left: 15px;
  }
  li {
    position: relative;
    display: flex;
    align-items: baseline;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
    &:hover {
      background-color: rgba(147, 86, 220, 0.15);
      .icon {
        color: $purple;
      }
      p {
        font-weight: bold;
      }
    }
    .number {
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      border-radius: 100%;
      background-color: $purple;
      padding: 2px 7px;
    }
    .icon {
      color: grey;
      padding: 0 20px;
    }
    .fa-mobile-alt {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

/* Restaurants */

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 30px 30px 30px;
  gap: 20px;

  h2 {
    padding: 40px 30px 0 0;
    margin: 0;
  }
  .card {
    background-color: white;
    border-radius: 20px;
    margin: auto;

    .card-img {
      position: relative;
      height: 170px;
      img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      .new {
        position: absolute;
        right: 10px;
        top: 10px;
        color: darken($mint, 40);
        background-color: $mint;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 3px;
      }
    }
    figcaption {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    h3,
    p {
      margin: auto;
      padding: 0 15px;
    }
    h3 {
      padding-top: 10px;
    }
    p {
      padding-top: 5px;
    }
    .actions {
      align-self: center;
      padding-right: 25px;
    }
  }
  .like-button {
    font-size: 25px;
    &::before {
      @extend %fontawesomeicon;
      content: "\f004";
    }
    &:active::before {
      font-weight: 900;
      @extend %fillingheart;
      animation: heart 0.33s ease-in forwards;
    }
    @keyframes heart {
      0% {
        opacity: 10%;
      }

      100% {
        opacity: 100%;
      }
    }
  }
}
/* Footer */

footer {
  width: 100%;
  padding: 30px;
  color: white;
  background-color: #3f3e3e;
  h3 {
    font-family: $font_logo;
    font-size: 140%;
    font-weight: 400;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-bottom: 10px;
  }
  .icon {
    padding-right: 10px;
  }

  .fa-hands-helping {
    font-size: 11px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
